
.beowulf-selection-page {
    background-image: url('Images/beowulf-background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 180vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 20px;

}

.eliza-selection-page {
    background-image: url('Images/eliza-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 180vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 20px;
}

.painwheel-selection-page {
    background-image: url('Images/painwheel-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 180vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 20px;

}

.parasoul-selection-page {
    background-image: url('Images/parasoul-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 180vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 20px;

}

.parasoul-selection-page {
    background-image: url('Images/parasoul-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 180vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 20px;

}


#page-title {
    color:aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:2.5em;
}

header {
    margin-bottom: 20px;
}


hr {
    border: 0;
    height: 1px;
    background-color: #ddd;
    margin: 20px 0;
}

.service-image {
    width: 280px;
    height: auto;
    flex-shrink: 0;
    border: 8px solid #0a0a0a;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 6px;
    box-shadow: 0 35px 35px rgba(179, 44, 44, 0.514);
       
}

.footer-logo {
    display: inline-block;
    max-width: 100px;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 0 35px 35px rgba(179, 44, 44, 0.514);
}


.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


#details {
    margin: 30px auto;
    width: 80%;
    font-family: 'Arial', sans-serif;
}

h2 {
    text-align: center;
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

