
.home-page {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
    background-image: url('Images/homepage-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 180vh;
    display: flex;
    text-align: center;
    padding: 20px;
}

p {
    color: rgb(240, 227, 227);
}

.content-container {
    background-color: #558fdbaf;
    color: whitesmoke;
    padding: 20px;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    position: relative;
    overflow: auto;
    border-radius: 8px;
}

header {
    background-color: #7699c7d0;
    color: white;
    padding: 15px;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

header h1 {
    font-family:'Times New Roman', Times, serif;
    flex-grow: 1;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ddd;
}

h1 {
    margin-left: 20px;
    margin-right: 20px;
    
}

h1, h2 {
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 1px rgb(107, 61, 61);
    box-shadow: 0 10px 10px rgba(44, 125, 179, 0.514);
}

#intro {
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sprite-image {
    width: 150px;
    height: auto;
    flex-shrink: 0;
}

#featured {
    text-align: center;
    margin-top: 20px;
}

#featured p {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
}

.feature-image {
    max-height: 100%;
    max-width: 600px;
    height: auto;
    width: 100%;
    display: block;
    margin: auto;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 35px 35px rgba(44, 130, 179, 0.514);
}

section {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto 40px auto;
}
  
.menu-container {
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
  }
  

.character-menu ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0;
  }

.character-menu .menu-item {
    text-align: center;
}
  
.character-link {
    text-decoration: none;
    color: #2c463b;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.header-img, .header-img2 {
    width: 160px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin: 0 20px;
}

.header-img {
    margin-left: 40px;
    box-shadow: 0 35px 35px rgba(44, 141, 179, 0.514);
}

.header-img2 {
    margin-right: 40px;
    box-shadow: 0 35px 35px rgba(17, 145, 219, 0.411);
}

.character-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 25px 25px rgba(44, 125, 179, 0.514);
  }

.character-name {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
  }
  
.character-link:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }
  
.character-link:active {
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    background-color: #588ca5;
    color: white;
    width: 100%;
    margin-top: auto;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
}

footer ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: center; 
    margin: 0; 
}

footer li {
    color: rgb(255, 179, 92); 
    font-weight: bold; 
    text-align: center; 
}

footer a {
    color: rgb(123, 198, 211);
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #ddd;
}
